.preview-exit {
  position: absolute !important;
  right: 2vw;
  top: 2vw;
}

.project-title {
  cursor: pointer;
}

.project-icon {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.project-gallery {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 22rem;
}

.gallery-status {
  display: flex;
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  justify-content: center;
  flex-direction: row;
}

.gallery-status-selected {
  width: 25rem;
  align-items: center;
}

.gallery-status-point {
  width: 11px;
  height: 11px;
  border-radius: 10px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}

.gallery-status-point-checked {
  -webkit-box-shadow: 10px 0px 43px -12px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 10px 0px 43px -12px rgba(0, 0, 0, 0.74);
  box-shadow: 10px 0px 43px -12px rgba(0, 0, 0, 0.74);
}

.project-description {
  font-size: 0.95rem;
  line-height: normal;
  height: 3.5rem;
  width: 20rem;
  margin-bottom: 1rem;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.project-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-link {
  text-decoration: underline;
  margin-left: 1rem;
  display: block;
  text-overflow: ellipsis;
  width: 20rem;
  white-space: nowrap;
  overflow: hidden;
}

.gallery-controller {
  display: none;
}

.gallery-container {
  overflow: hidden;
  display: flex;
  align-self: center;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
.gallery-main-container {
  display: flex;
  width: 100%;
  height: 22rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.39);
}
.gallery-image-container {
  position: absolute;
  display: flex;
  float: left;
  width: 100%;
  height: 22rem;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.switch-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gallery-container-selected {
  display: flex;
  height: 80vh;
  width: 60vw;
}

.gallery-main-container-selected {
  width: 80%;
  height: 80%;
  justify-content: center;
  align-self: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  flex-direction: column;
}

.project-gallery {
  height: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 800px) {
  .gallery-button {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem !important;
    -webkit-box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.39);
  }

  .gallery-controller-selected {
    width: 90vw;
    position: absolute;
    display: flex;

    height: 5rem;
    align-self: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .project-preview-container {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
  }

  .gallery-image-container-selected {
    width: 25rem;
    height: 760px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
  }

  .gallery-image {
    border-radius: 1rem;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }
  .project-tile-card {
    margin-bottom: 4rem;
    margin-left: 3.5rem;
    margin-right: 5rem;
    min-width: 10rem !important;
    height: 38rem;
  }
}

@media only screen and (max-width: 800px) {
  .gallery-status-selected {
    width: 25rem;
    align-items: center;
  }

  .gallery-controller-selected {
    width: 90vw;
    position: absolute;
    display: flex;

    height: 5rem;
    align-self: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .gallery-image-container-selected {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
  }
  .gallery-button {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem !important;
    -webkit-box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 5px 25px 4px rgba(0, 0, 0, 0.39);
  }

  .project-preview-container {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-tile-card {
    width: 20rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 40rem;
  }
}
