@media only screen and (max-width: 800px) {
  .drawer-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 75vw;
    -webkit-box-shadow: 25px -2px 60px 20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 25px -2px 60px 20px rgba(0, 0, 0, 0.75);
    box-shadow: 25px -2px 60px 20px rgba(0, 0, 0, 0.75);
    transition: left 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  .drawer-list {
    list-style-type: none;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    padding-left: 1.2rem;
    flex: 1;
  }

  .drawer-header {
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .drawer-hide-icon-container {
    display: flex;
    align-self: center;
  }

  .drawer-icon {
    margin-right: 1rem;
  }

  .drawer-item {
    font-size: 25px;
    margin-top: 1.3vh;
    margin-bottom: 1.3vh;
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: flex-start;
    margin-left: 0;
    cursor: pointer;
  }

  .drawer-item:last-child {
    margin-top: auto;
  }
}

@media only screen and (min-width: 800px) {
  .drawer-container {
    display: none;
  }
}
