@media only screen and (min-width: 800px) {
  .menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: "row";
    display: inline;
  }

  .menu {
    align-self: center;
    display: flex;
    margin-right: 2vw;
  }

  .menu-item {
    display: block;
    float: left;
    margin-left: 20px;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .menu-container {
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-box-shadow: 0px 1px 60px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 60px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 60px 8px rgba(0, 0, 0, 0.5);
  }

  .title-img {
    align-self: center;
    margin-left: 2vw;
    display: flex;
  }

  .header-menu-icon {
    display: none;
  }

  .header-logo-container {
    display: flex;
    align-items: center;
  }
  .theme-selector-container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .checkbox-theme {
    width: 25px;
    height: 25px;
  }

  .checkbox-checked {
    color: blue;
  }

  .checkbox-theme-container {
    display: flex;
    flex-direction: row;
  }

  .theme-popper-shadow {
    -webkit-box-shadow: 10px 10px 49px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 49px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 49px -2px rgba(0, 0, 0, 0.75);
    border-radius: 30px;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    width: 20rem;
  }
  .logo-main {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .logo-title {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 800px) {
  .logo-main {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .header-menu-icon {
    position: absolute;
    height: 10vh;
  }
  .logo-title {
    font-size: 1.1rem;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu-container {
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: -9px 3px 31px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -9px 3px 31px -9px rgba(0, 0, 0, 0.75);
    box-shadow: -9px 3px 31px -9px rgba(0, 0, 0, 0.75);
  }
  .menu-button {
    height: 100%;
  }

  .menu {
    display: none;
  }

  .title-img {
    align-self: center;
  }

  .header-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .theme-selector-container {
    display: none;
  }
}
